<div id="my-modal" class="modal reveal-modal medium" data-reveal>
  <div class="modal-header">
    hello world
    <button id="btn-close-modal" {{action "hideModal"}}>Close</button>
  </div>
</div>

<div class="click-me">
  <button id="btn-open-modal" {{action "showModal"}}>Click Me</button>
</div>
